<!-- History.html -->	 
<div background="#dcdcdc" class="container">  
<div class="row">  
<div class="span6">  
<ul class="nav nav-pills">  
<li><a href="/">Today</a></li>
<li class="active"><a href="history">&nbsp;&nbsp;History&nbsp;&nbsp;&nbsp;</a></li>
<li class="{{showNext}}"><a href="list/:{{nextArchiveName}}"><i class="icon-forward"></i></a></li>
</ul>  
</div>  
</div>  
</div>  
<table class="table table-striped">  
  <tbody>  
    <tr ng-repeat="item in archives">
    	<td><span><a href="" ng-click="delete()"><i class="icon-trash"></i>&nbsp;&nbsp;</a>
      <a href="list/:{{item.archiveName}}">&nbsp;{{item.displayName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
    </td>  
    </tr> 
  </tbody>  
</table>  
