/* todo css stylesheet */

.done-true {
  text-decoration: line-through;
  color: grey	;
}

.show-false {
	display: none;
}

.show-true {
	display: inline;
}

body {
	padding-top:2%;
	padding-left:2%;
	padding-right:2%;
  background-color:#dcdcdc;
}

.table td {
  padding: 3px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

h1
{
background-color:#00ff00;
}
p
{
background-color:rgb(255,0,255);
}