<!-- History.html -->
<ul class="nav nav-pills">
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="/welcome">About</a></li>
    <li><a tabindex="-1" href="/todo">Today</a></li>    
    <li><a tabindex="-1" href="/history">History</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="/logout" target="_self">Logout</a></li>
  </ul>
</li>
<li><a href="/todo">Today</a></li>
<li class="{{activeHistory}}"><a href="/history">&nbsp;&nbsp;History&nbsp;&nbsp;&nbsp;</a></li>
<li class="{{showNext}}"><a href="/list/:{{nextArchiveName}}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
</ul> 
</div>
</div>
</div>
<table ng-show="archives[0]" class="table table-striped">  
  <tbody>  
    <tr ng-repeat="item in archives">
    	<td><span><a class="show-{{showDelete}}" href="" ng-click="delete()"><i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;</a>
      <a href="/list/:{{item.archiveName}}">&nbsp;{{item.displayName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
    </td>  
    </tr>
  <tr>
    <td>({{archives.length}}) <span> [ <a href="" ng-click="print()">Print</a> ] [ <a <a class="show-{{showDelete}}" href="" ng-click="editClick()">&nbsp;&nbsp;Done&nbsp;&nbsp;</a><a class="show-{{!showDelete}}" href="" ng-click="editClick()">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a> ]</span></td>
  </tr> 
  </tbody>  
</table>
<table ng-hide="archives[0]" class="table table-striped">  
  <tbody>  
    <tr>
      <td ng-hide="archives[0]" >&nbsp;&nbsp;No history.</td>
    </tr>
  </tbody>  
</table>
