<!-- list.html -->
<header id="header">
<ul class="nav nav-pills">
  <li  style="display:inline-block; width: calc(100% - 57px);"> <form ng-submit="searchTodos()">
    <input type="text" ng-model="todoSearchText" class="form-control" placeholder="search reminders..."></input></span>
    </form>
  </li>
  <li style="float:right" class="{{editMode}}"><a href="" ng-click="editClick()"><i class="glyphicon glyphicon-edit"></i></a></li>
</ul>
</header>

<div id="content-{{footerSize}}" class="container-fluid body-content">
<table ng-show="archives[0]" class="table table-striped"> 
  <tbody>  
    <tr ng-repeat="item in archives">
    	<td>
        <ul class="nav nav-pills">
          <li><span><a class="show-{{showDelete}}" href="" ng-click="deleteList()"><i class="glyphicon glyphicon-trash"></i></a>
            <a href="/list/:{{item}}">{{item}}</a></span>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
    <td><form ng-submit="addNewList()">
      <span>
        <input type=text ng-model="newListText" class="form-control" placeholder="+ New list..."></input>
      </span>
    </form></td>
    </tr>
  </tbody>  
</table>
<table ng-hide="archives[0]" class="table table-striped">  
  <tbody>  
    <tr>
      <td ng-hide="archives[0]" >&nbsp;&nbsp;No lists.</td>
    </tr>
  </tbody>  
</table>
</div>

<footer id="footer-{{footerSize}}">
  <ul class="nav nav-pills dropup">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></a>
      <ul class="dropdown-menu" style="font-size:20px;">
        <li><a tabindex="-1" href="/welcome">Welcome</a></li>
        <li><a tabindex="-1" href="/list/:Reminders">Reminders</a></li>    
        <li><a tabindex="-1" href="/list">Lists</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="/logout" target="_self">Logout</a></li>
      </ul>
    </li>
    <li style="font-size:14px;width: calc(100% - 57px);padding-top:22px;">Reminders @VERSION@
      <p style="float:right">2016 Yoder Code</p>
      <i style="float:right" class="glyphicon glyphicon-copyright-mark"></i>
    </li>
  </ul>
</footer>
