<!-- Todo.html v3.0 -->	 
<header>
<ul class="nav nav-pills">
  <li class="{{activeHome}}"> <a 
    style="display:block; width:260px;"
    href="" 
    ng-click="homeClick()"> {{label}} <span class="badge" style="float:right;">{{remaining()}}</span></a></li>
  <li class="{{editMode}}"><a href="" ng-click="editClick()"><i class="glyphicon glyphicon-edit"></i></a></li>
</ul>
</header>

<div class="container-fluid body-content">
<table ng-show="todos[0]" class="table table-striped">  
	<tbody>
    <tr ng-repeat="todo in todos | filter:showTaskItem">
      <td>
      <span> 
  			<a class="show-{{showDelete}}" href="" ng-click="delete()"><i class="glyphicon glyphicon-trash"></i></a>
    		<input class="show-{{!showDelete}}" ng-click="update()" type="checkbox" ng-model="todo.done">&nbsp;&nbsp;</input>
     		<span class="done-{{todo.done}}">{{todo.text}}</span>
      </span>
      </td>
    </tr>
  </tbody>
</table>

<table ng-hide="todos[0]" class="table table-striped">  
  <tbody>  
    <tr>
      <td>&nbsp;&nbsp;Nothing to do? Add tasks below...</td>
    </tr>
  </tbody>  
</table>
</div>

<footer>
  <form ng-submit="addTodo()">
    <span class="show-{{showNewTask}}" >
      <input type="text" ng-model="todoText" class="form-control" placeholder="+"></input>
    </span>
  </form>
  <ul class="nav nav-pills dropup">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="/welcome">About</a></li>
        <li><a tabindex="-1" href="/list/:todo">Today</a></li>    
        <li><a tabindex="-1" href="/history">History</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="/logout" target="_self">Logout</a></li>
      </ul>
    </li>
    <li><a ng-click="togleShowCompleted()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{showCompletedLabel}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li> 
    <li class="{{showNext}}"><a href="/list/:{{nextArchiveName}}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
  </ul>
</footer>
