/* todo css stylesheet */
html {
  height: 100%;
}
html body {
  height: 100%;
  overflow: hidden;
}
html body .container-fluid.body-content {
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 0;
  left: 0;
  overflow-y: auto;
/*  background-color:#dcdcdc; */
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #4C4;
    height: 50px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4C4;
    height: 50px;
}

.done-true {
  text-decoration: line-through;
  color: grey	;
}

.show-false {
	display: none;
}

.show-true {
	display: inline;
}

/*
body {
	padding-top:2%;
	padding-left:2%;
	padding-right:2%;
  background-color:#dcdcdc;
}
*/

.table td {
  padding: 3px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

/*
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
*/

h1
{
background-color:#00ff00;
}
p
{
background-color:rgb(255,0,255);
}