/* todo css stylesheet */
html {
  height: 100%;
}

body .container-fluid.body-content {
  position: absolute;
  top: 40px;
  bottom: 80px;
  right: 0;
  left: 0;
  overflow-y: auto;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #dcdcdc;
    height: 40px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dcdcdc;
    height: 80px;
}

form input {
    width: 100%;
}

.done-true {
  text-decoration: line-through;
  color: grey	;
}

.show-false {
	display: none;
}

.show-true {
	display: inline;
}

body {
	padding-top:2%;
	padding-left:2%;
	padding-right:2%;
  background-color:#dcdcdc;
}

.table td {
  text-align: left;
  vertical-align: top;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
