<!-- Welcome.html -->

<header>
<ul class="nav nav-pills">
  <li style="display:inline-block; width: 100%" ><a href="/list/:Reminders"> <img src="img/favicon.ico" type="image/x-icon"></img>
	  Reminders @VERSION@
	  <span class="badge" style="float:right;">{{noOfLists}}</span></a>
  </li>
  <li style="float:right" class="{{editMode}}"><a href="" ng-click="editClick()"><i class="glyphicon glyphicon-edit"></i></a></li>
</ul>
</header>

<div class="container-fluid body-content">
<table class="table table-striped">  
	<tbody>  
		<tr>
			<td>Welcome:</td> <td> Thanks for using this reminders app!</td>
		</tr>
		<tr>
			<td>Credit: </td><td> Angular, Node, Bootstrap, Mongodb, Express, Passport, and Glyphicons.</td>
		</tr>
		<tr>
			<td>Hosted:</td><td>Modulus and MongoLab.</td>
		</tr>
		<tr ng-show="authenticated">
			<td> Login:</td> <td>{{user.email}}</td>
		</tr>
		<tr ng-show="registered">
			<td>Data:</td><td>{{user.db}}</td>
		</tr>
		<tr ng-show="authenticated">
			<td>Option:</td>
			<td ng-show="production" ><input type="checkbox" ng-model="logoutfromgoogle">&nbsp;&nbsp;Logout from Google too?</input></td>
		</tr>
	</tbody>  
</table>
<div ng-show="production">
 	<div ng-show= "!authenticated">
		<a href="/auth/google" target="_self" class="btn btn-default">Login with Google</a><br>
 	</div>
</div>
<div ng-show="!production">
	<div ng-show="authFailed">
		<font color="red"><strong>{{authFailedMsg}}</strong></font>
	</div>
	<div ng-hide="authenticated">
		<form name="input" action="auth/local" method="post">
			<span>User ID:<input type="text" name="username"></span>
			<span>Password:<input type="password" name="password"></span>
			<input type="submit" class="btn btn-primary" value="Enter">
		</form>
	</div>
</div>
</div>

<footer>
  <ul class="nav nav-pills dropup">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></a>
      <ul class="dropdown-menu" style="font-size:20px;">
        <li><a tabindex="-1" href="/welcome">Welcome</a></li>
        <li><a tabindex="-1" href="/list/:Reminders">Reminders</a></li>    
        <li><a tabindex="-1" href="/history">Lists</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="" ng-click="logout()">Logout</a></li>
      </ul>
    </li>
    <li style="display:inline-block; width: calc(100% - 105px);text-align: center;">
  		<a href="/history">Lists</a>
		</li>	
		<li style="float:right;">
			<a href="" ng-click="logout()"><i class="glyphicon glyphicon-off"></i></a>
    </li>
  </ul>
  <span style="font-size:14px;">Reminders @VERSION@</span> 
    <span style="font-size:14px;float:right"><i class="glyphicon glyphicon-copyright-mark"></i>2016 Yoder Code</span>
  </span>
</footer>
