<!-- Welcome.html -->  
<ul class="nav nav-pills">
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-align-justify"></i></a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="/welcome">About</a></li>
    <li><a tabindex="-1" href="/todo">Today</a></li>    
    <li><a tabindex="-1" href="/history">History</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="" ng-click="logout()">Logout</a></li>
  </ul>
</li>
<li class="active"><a href="/welcome">&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;</a></li>
<li><a href="/todo">Todos @VERSION@</a></li>
</ul>
We hope you like this simple todos app. Thanks, <br>
-Mike <br><br>
<div ng-show="authFailed">
<font color="red"> {{authFailedMsg}}.</font>
</div>
<div ng-hide="authenticated">
<form name="input" action="auth/local" method="post">
&nbsp;&nbsp;User ID: &nbsp;&nbsp;<input type="text" name="username"><br>
Password: <input type="password" name="password"><br>
&nbsp;&nbsp;<input type="submit" value="Enter">
</form>
</div>
<div ng-show="authenticated">
<br> Authenticated as:  <strong>{{user.email}}</strong>
<div ng-show="registered">
Registered DB:  <strong>{{user.db}}</strong><br><br>
</div>
<strong>
<a href="/todo">Continue</a> |
<a href="" ng-click="logout()" >Logout&nbsp;&nbsp;</a>
</strong>
<!-- <input type="checkbox" ng-model="logoutfromgoogle"> from Google too?</input> -->
</div>
<br>
Todos @VERSION@ <br>
Copyright 2015 Yoder Code. <br>
<br>
Thanks to: Angular, Node, Bootstrap, <br> 
&nbsp;&nbsp;&nbsp;Mongodb, Express, Passport. <br>
<br>
Hosted by: Modulus and MongoLab. <br>